html {
	width: 100%;
	height: 100%;
}

body {
	width: 90%;
	height: 100%;
	margin-left: 5%;
}
footer {
	width: 100%;
	display: flex;
	background-color: rgba(0, 0, 0, 0.8);
	height: 5%;
	position: sticky;
	margin-top: auto;
	bottom: 0;
}
.robotobig {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;

	color: rgb(159, 255, 159);
}
.robotobig2 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	color: rgb(159, 255, 159);
}
.robotosmall {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	color: rgb(159, 255, 159);
}
footer p {
	margin: auto;
	opacity: 1;
}
#active {
	background-color: rgba(0, 0, 0, 0.8);
}
.background {
	display: flex;
	margin: 0;
	padding: 0;
	width: 60%;
	margin-left: 15%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
}
/*Responsive design elements*/
@media screen and (min-width: 950px) {
	#loginbutton {
		height: 60%;
	}
	#homeplaceholdertext {
		padding-left: 65%;
		padding-top: 13%;
		font-size: 250%;
	}
	section footer a img {
		height: 90%;
		width: 90%;
	}
	.arrow {
		margin-top: 5%;
	}
	.button {
		width: 20%;
	}
	#button3 {
		width: 15%;
	}
	.background {
		margin-top: 9.1%;
	}
	#backgroundheightgallery {
		height: 270%;
	}
	#backgroundheighthome {
		height: 190%;
	}
	#backgroundheightepisode {
		height: 270%;
	}
	#backgroundheighthistory {
		height: 210%;
	}
	#backgroundheightcontact {
		height: 240%;
	}
	#backgroundheightemmy {
		height: 210%;
	}
	#backgroundheightcharacter {
		height: 240%;
	}
	#backgroundheightform {
		height: 210%;
	}
	.imagesize {
		height: 97%;
	}
	.robotosmall {
		font-size: 90%;
	}
	.robotobig {
		font-size: 130%;
	}
	.robotobig2 {
		font-size: 120%;
	}
	#gus,
	#mike,
	#saul {
		margin-top: 75.5%;
	}
	.character {
		height: 30%;
	}
}
@media screen and (max-width: 950px) {
	#loginbutton {
		height: 100%;
	}
	#homeplaceholdertext {
		padding-left: 60%;
		padding-top: 5%;
		font-size: 200%;
	}
	.arrow {
		margin-top: 0%;
	}
	.button {
		width: 20%;
	}
	#button3 {
		width: 15%;
	}
	section p iframe {
		height: 20%;
		width: 100%;
	}
	section footer a img {
		height: 80%;
		width: 75%;
	}
	.background {
		margin-top: 15%;
	}
	#backgroundheighthome {
		height: 130%;
	}
	#backgroundheightepisode {
		height: 190%;
	}
	#backgroundheighthistory {
		height: 100%;
	}
	#backgroundheightgallery {
		height: 200%;
	}
	#backgroundheightcontact {
		height: 120%;
	}
	#backgroundheightemmy {
		height: 120%;
	}
	#backgroundheightcharacter {
		height: 150%;
	}
	#backgroundheightform {
		height: 120%;
	}
	.imagesize {
		height: 66%;
	}
	.character {
		height: 40%;
	}
	.robotosmall {
		font-size: 40%;
	}
	.robotobig {
		font-size: 80%;
	}
	.robotobig2 {
		font-size: 70%;
	}
	#gus,
	#mike,
	#saul {
		margin-top: 95%;
	}
}
@media screen and (max-width: 725px) {
	#loginbutton {
		height: 100%;
	}
	section footer a img {
		height: 80%;
		width: 75%;
	}
	#homeplaceholdertext {
		padding-left: 60%;
		padding-top: 0%;
		font-size: 175%;
	}
	.arrow {
		margin-top: -5%;
	}
	.button {
		width: 30%;
	}
	#button3 {
		width: 20%;
	}
	.background {
		margin-top: 20%;
	}
	.imagesize {
		height: 50%;
	}
	#backgroundheightepisode {
		height: 150%;
	}
	#backgroundheighthome {
		height: 110%;
	}
	#backgroundheighthistory {
		height: 110%;
	}
	#backgroundheightgallery {
		height: 170%;
	}
	#backgroundheightcontact {
		height: 100%;
	}
	#backgroundheightemmy {
		height: 100%;
	}
	#backgroundheightcharacter {
		height: 120%;
	}
	#backgroundheightform {
		height: 110%;
	}
}
@media screen and (max-width: 600px) {
	#loginbutton {
		height: 120%;
	}
	section footer a img {
		height: 80%;
		width: 50%;
	}
	#homeplaceholdertext {
		padding-left: 60%;
		padding-top: 2.5%;
		font-size: 150%;
	}
	.arrow {
		margin-top: 0%;
	}
	.background {
		margin-top: 25%;
	}
	.imagesize {
		height: 40%;
	}
	#gus,
	#mike,
	#saul {
		margin-top: 80%;
	}
	.character {
		height: 50%;
	}
	.robotobig {
		font-size: 40%;
	}
	.robotobig2 {
		font-size: 35%;
	}
	.robotosmall {
		font-size: 20%;
	}
	#backgroundheighthome {
		height: 80%;
	}
	#backgroundheightepisode {
		height: 130%;
	}
	#backgroundheighthistory {
		height: 80%;
	}
	#backgroundheightgallery {
		height: 130%;
	}
	#backgroundheightcontact {
		height: 60%;
	}
	#backgroundheightemmy {
		height: 80%;
	}
	#backgroundheightcharacter {
		height: 90%;
	}
	#backgroundheightform {
		height: 100%;
	}
}
/*NAVIGATOR*/
@keyframes navigatoranimation {
	from {
		background-color: rgba(0, 0, 0, 0.5);
	}
	to {
		background-color: rgba(0, 0, 0, 0.8);
	}
}

nav {
	width: 90.1%;
	height: 17.5%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
}
nav ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
nav ul li {
	display: flex;
	width: 14.3%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
nav ul li:hover {
	animation-name: navigatoranimation;
	animation-duration: 0.5s;
	animation-iteration-count: none;
	background-color: rgba(0, 0, 0, 0.8);
}
nav ul li a {
	text-align: center;
	text-decoration: none;
	margin: auto;
}
/*BACKGROUND IMAGERY*/
.imagesize {
	border-style: solid;
	border-width: 0.1rem;
	border-color: black;
	width: 100%;
	margin-top: -0.05%;
	background-size: 100%, 100%;
	background-repeat: no-repeat;
}
.imagebodysize {
	background-size: 50%, 100%;
	width: 100%;
	height: 50%;
	background-repeat: no-repeat;
}
.image1 {
	background-image: url("../Media/Images/background2.jpg");
}
.image2 {
	background-image: url("../Media/Images/background10.jpg");
}
.image3 {
	background-image: url("../Media/Images/background9.jpg");
}
/* HOME */
.heisenberg {
	margin-top: 55%;
	position: absolute;
	background-image: url("../Media/Images/heisenberg.jpg");
}
textarea[name='input'] {
	resize: none;
}
#clock {
	position: absolute;
	margin-top: 1.75%;
	margin-left: 15%;
	width: 40%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
}
#date {
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
}
#time {
	margin-top: 16.2%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
}
#logintextfield {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	margin-top: 9%;
	margin-left: 8%;
	border-radius: 5px;
	background-color: rgb(159, 255, 159);
	border: 1px solid;
	width: 50%;
	height: 50%;
	text-align: center;
}
#loginbutton {
	position: absolute;
	margin-top: 10%;
	margin-left: 10%;
	border-radius: 5px;
	border: 1px solid;
	background-color: green;
	text-align: center;
}
#loginbutton:focus {
	color: rgb(159, 255, 159);
}
#login {
	position: absolute;
	width: 40%;
	height: 3%;
	margin-left: 60%;
}
#homeplaceholder {
	position: absolute;
	margin: auto;
	width: 100%;
}
#homeplaceholdertext {
	transform: rotate(5deg);
	color: red;
	font-weight: 700;
}
.arrow {
	position: absolute;
	background-image: url("../Media/Images/redarrowleft2.png");
	transform: rotate(-65deg);
	background-size: 100%, 100%;
	width: 50%;
	height: 50%;
	margin-left: 35%;
	background-repeat: no-repeat;
}
table {
	position: absolute;
	width: 45%;
}
table,
th,
td {
	color: rgb(159, 255, 159);
	border: 1px solid black;
	text-align: center;
	margin-top: 123%;
	margin-left: 1%;
}
#footerhome {
	height: 6.5%;
}
/* BODY */
.bodytextright {
	margin-top: 57.5%;
	position: absolute;
	z-index: 1;
	width: 40%;
	height: 10%;
	margin-left: 55%;
	display: flex;
}

/* CHARACTER */
.character {
	position: absolute;
	width: 25%;
	background-size: 100%, 100%;
	background-repeat: no-repeat;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	border-style: solid;
	border-width: 0.05rem;
	border-color: rgb(159, 255, 159);
}
.charback {
	width: 100%;
	height: 100%;
	background-color: rgb(10, 10, 10);
	color: white;
	transform: rotateY(180deg);
}
.chartitle {
	position: absolute;
}
.charcontent {
	position: absolute;
}
/* 6,5 + 25 + 37 + 25 + 6.5 = 100, 6,5 + 25 + 6.5 + 25 + 6.5 + 25 + 6.5 = 100 */
#walter {
	margin-left: 68.5%;
	margin-top: 6.5%;
	background-image: url("../Media/Images/characters/walter.jpg");
}
.character:hover {
	transform: rotateY(180deg);
}
#jesse {
	margin-left: 6.5%;
	margin-top: 6.5%;
	background-image: url("../Media/Images/characters/jesse.jpg");
}
#gus {
	margin-left: 6.5%;
	background-image: url("../Media/Images/characters/gus.jpg");
}
#mike {
	margin-left: 68.5%;
	background-image: url("../Media/Images/characters/mike.jpg");
}
#saul {
	margin-left: 37.5%;
	background-image: url("../Media/Images/characters/saul.jpg");
}
#charactertitle {
	position: absolute;
	width: 100%;
}
#charactertitle p {
	text-align: center;
}
/* GALERIJ*/
.gallery {
	position: absolute;
	margin-left: 5%;
	width: 90%;
	height: 90%;
	background-size: 100%, 100%;
	background-repeat: no-repeat;
}
#black {
	color: black;
}
#cookcolor {
	color: red;
}
#twins {
	margin-top: 165%;
	background-image: url("../Media/Images/gallery/cousins2.jpg");
}
#jimmy {
	margin-top: 123%;
	background-image: url("../Media/Images/gallery/jimmy.jpg");
}
#cooking {
	margin-top: 17.5%;
	background-image: url("../Media/Images/gallery/cooking.jpg");
}
#tuco {
	margin-top: 75%;
	background-image: url("../Media/Images/gallery/tuco2.jpg");
}
/* EMMY & GESCHIEDENIS */
.title {
	text-align: center;
	width: 100%;
	position: absolute;
	margin-top: 7.5%;
	font-weight: 700;
}
.centertextformat {
	margin-top: 20%;
	position: absolute;
	text-align: center;
	width: 50%;
	height: 87.5%;
	margin-left: 25%;
	padding-top: 1%;
	background-color: rgba(0, 0, 0, 0.5);
}
#history {
	margin-top: 15%;
}
#episode {
	margin-top: 15%;
}
#historytitle {
	margin-top: 6%;
}
/* FORMULIER & CONTACT*/
#titleform {
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: 8.8%;
}
#contact {
	margin-top: 20%;
	height: 30%;
}
.form {
	position: absolute;
	margin-left: 22.5%;
	width: 50%;
	height: 65%;
	border-style: none;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 20%;
}
.button {
	border-radius: 5px;
	border: 1px solid;
	background-color: green;

	height: 55%;
	text-align: center;
}
.button:focus {
	color: rgb(159, 255, 159);
}
.button3 {
	margin-top: 6%;
	position: absolute;
	border-radius: 5px;
	border: 1px solid;
	background-color: green;
	width: 80%;
	margin-left: 10%;
	height: 5%;
	text-align: center;
}
#button3 {
	margin-top: 2.5%;
	height: 2.5%;
	margin-left: 82.5%;
}
.button3:focus {
	color: rgb(159, 255, 159);
}
